# Environment variables
.env
.flaskenv

# Virtual Environment files
venv/

# Log files
logs/

# Database files
app_pkg.db

# Babel translation files
# messages.pot can also be added. but it is regularly deleted by translate command, hence not required.
app_pkg/translations/*/LC_MESSAGES/messages.mo

# Misc
.idea/

# VSCode files
.vscode

# Docker files
docker

# pycache files
*__pycache__/*.pyc
*/__pycache__/*.pyc
